<%= form_with(model: gelati) do |form| %>
  <% if gelati.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gelati.errors.count, "error") %> prohibited this gelati from being saved:</h2>

      <ul>
        <% gelati.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :ingredienti %>
    <%= form.text_field :ingredienti %>
  </div>

  <div class="field">
    <%= form.label :calorie %>
    <%= form.number_field :calorie %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
