<p id="notice"><%= notice %></p>

<p>
  <% if @gelati.cover.attached? %>
  <%= image_tag url_for(@gelati.cover) %>
  <% end %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @gelati.nome %>
</p>

<p>
  <strong>Ingredienti:</strong>
  <%= @gelati.ingredienti %>
</p>

<p>
  <strong>Calorie:</strong>
  <%= @gelati.calorie %>
</p>

<%= link_to 'Modifica', edit_gelati_path(@gelati), class: 'btn btn-primary' %> |
<%= link_to 'Indietro', gelatis_path, class: 'btn btn-primary' %>
